/* Empty */

body {
    background-color: #0A112D;
    font-family: "Consolas", "Trebuchet MS", Helvetica, sans-serif;
    color: #FEFEFE;
}
h1 {
    font-size: 80px;
    color: #FDFDFD;
}
h2 {
    font-size: 40px;
    color: #EEEEEE;
}
.main-content {
    height: 800px; /*Default value*/
    overflow: auto;
}
.header-box {
    margin-left: 20px;
}

.thunder-h1{
	color: #FAE212;
}

.thunder-h2{
	color: #0318A2;
}

.light-green {
    color: #EEFFEE;
}
.light-blue {
    color: #EEEEFF;
}
.light-red {
    color: #FFEEEE;
}
.lgb {
    background-color: #EEFFEE;
}
.lbb {
    background-color: #EEEEFF;
}
.lrb {
    background-color: #FFEEEE;
}