/* Empty */

body {
    background-color: #a0b3ef;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}

h1 {
	font-size: 72px;
	color: #FDFDFD;
}
h2 {
	font-size: 40px;
	color: #EEEEEE;
}

.headerbox {
	margin-left: 20px;
}

.light-green {
	color: #EEFFEE;
}

.light-blue {
	color: #EEEEFF;
}

.light-red {
	color: #FFEEEE;
}