html{
	font-family: "Arial", sans-serif;
	margin-left: 20px;
}


.contact_information{
	width:495px;
}
.name{
	text-align:justify;
	font-size: 52px;

}
.contact-info{
	font-size: 18px;
	float: left;
	width:33.33%;
}


.section-header{
	font-size: 36px
}

.section-subheader{
	font-size: 24px;
	font-style: italic;
}
.field-box{
	width: 800px;
	clear: both;
	margin-bottom: 18px;
	display: inline-block;
}

.skill-title{
	font-size: 14px;
	font-weight: bold;
	float:left;
	width:25%;
}
.skill-content{
	font-size: 14px;
	float: right;
	width: 75%;
}


.exp-title,.edu-title{
	font-size: 14px;
	font-weight: bold;
	float:left;
	width:75%;
}
.exp-subtitle,.edu-subtitle{
	font-size: 14px;
	font-style: italic;
	float:left;
	width:75%;
}
.exp-date,.edu-date{
	font-size: 14px;
	float: right;
	width: 25%;
	text-align: right;
}
.exp-content,.edu-content{
	font-size: 14px;
	float: left;
	width: 100%;
}

.interest-content{
	font-size: 14px;
}

.glyphicon-new-window{
	color: #337ab7;
	vertical-align: -10%;
}
.glyphicon-eye-open{
	color: #337ab7;
	cursor:pointer;
	vertical-align: -12%;
}
.glyphicon-remove{
	color: #337ab7;
	cursor:pointer;
	vertical-align: -14%;
}

.glyphicon-fullscreen{
	color: #337ab7;
	cursor:pointer;
	vertical-align: -14%;
}

.glyphicon-fullscreen{
	color: #337ab7;
	cursor:pointer;
	vertical-align: -14%;
}

.img-wrapper-TM{
	float: left;
	width: 400px;
	height: 300px;
	display: none;
}

.img-controls-TM{
	width: 397px;
	height: 75px;
	margin: 1px;
	position: relative;
	top: 0;
}

.img-ctrlbar-TM{
	width: 397px;
	height: 30px;
	background-color: #D6D6D6;
	background-color: rgba(237,229,231,0.501960784314);
	display: none;
	position: relative;
	top: 0;
}

.img-wrapper-MD{
	float: left;
	width: 800px;
	height: 600px;
	display: none;
}

.img-controls-MD{
	width: 798px;
	height: 75px;
	margin: 1px;
	position: relative;
	top: 0;
}

.img-ctrlbar-MD{
	width: 798px;
	height: 30px;
	background-color: #D6D6D6;
	background-color: rgba(237,229,231,0.501960784314);
	display: none;
	position: relative;
}	

.img-bordered{
	border: 1px solid;
	border-color: #D6D6D6;
	position: absolute;
	z-index: -1;
	top: 0;
	left:-1px;
}



