html{
	font-family: "Arial", sans-serif;
}
.name{
	text-align:justify;
	font-size: 52px;
}
.contact-info{
	font-size: 18px;
}
.section-header{
	font-size: 18px
}
.field-title{
	font-size: 18px;
	font-weight: bold;
}
.field-subtitle{
	font-size: 18px;
	font-style: italic;
}
.field-content{
	font-size: 18px;
}